#addPopCat > .layout {
    width: 30%;
}

button.update {
    font-size: 14px;
    text-transform: uppercase;
    height: 44px;
    width: 240px;
    display: block;
    color: #fff;
    background: #0da7e7;
    border: 0;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 20px;
}

.headerAdd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.titleAdd {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.bodyAdd {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.inputBlock {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.inputBlock .title-input {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.input-basic {
    display: block;
    width: 100%;
    height: 40px;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-size: 16px;
    color: #353535;
    padding: 0 15px;
    padding-left: 38px;
}

.input-basic::placeholder {
    color: #777777;
}

.input-basic:focus {
    background: #fff;
    border: 1px solid #66afe9;
    box-shadow: 0 0 10px rgba(13, 167, 231, 0.3);
    outline: 0 none;
}

input[type=file] {
    width: 100%;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #0da7e7;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
input[type=file]::file-selector-button:hover, input.button:hover {
    background: #66afe9;
}